.page-dframe {
  height: 832px;
  background: url('./assets/img/d.png') no-repeat center center;
  background-size: cover;
  color: white;
  font-size: 16px;
  text-align: center;
}
.page-dframe-title {
  padding-top: 137px;
}
.page-dframe-main {
  width: 260px;
  margin: 20px auto;
}
.page-dframe-main li {
  float: left;
  list-style: square;
}
.page-dframe-main li:nth-child(1) {
  margin-right: 60px;
}
.dframe {
  width: 811px;
  height: 411px;
  margin: 136px auto 0;
  background: url('./assets/img/dframe.png') no-repeat center center;
  background-size: contain;
}
